<html>
    <head>
        <title>2048</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    </head>
    <body>
        <h1>Test</h1>
        <h1>Hello 2048</h1>
        <div id="sketch-holder">
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
        <script src="/javascript/sketch.js"></script>
        <script src="/javascript/game.js"></script>
        <script src="/javascript/grid.js"></script>
        <script src="/javascript/config.js"></script>
    </body>
</html>