<html>

<head>
    <title>2048</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
   
</head>

<body>
    <section id='container'>

        <h1> 2048 GAME</h1>
        <div id="scoreContainer"> Score:
            <span id="score"></span>
        </div>

        <button class="button1" onClick="undo()">Undo</button>
        <button class="button1" onClick="resetGame()">Reset</button>
        <div id="sketch-holder">
        </div>
        <div class="author"> <b>Developed by:</b>
            <span> Vu Duy <img src="https://imgbbb.com/images/2019/06/02/duy.jpg" alt=""> </span>
            <span> Tan Trung <img src="https://imgbbb.com/images/2019/06/02/Doan-Tn-Trung---Copy.jpg" alt=""> </span>
            <span> Quang Loc <img src="https://imgbbb.com/images/2019/06/02/14991242_1713289628990186_5150920783795552263_o.jpg" alt=""> </span>
                
            
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
        <script src="./javascript/sketch.js" type="text/javascript"></script>
        <script src="./javascript/game.js" type="text/javascript"></script>
        <script src="./javascript/grid.js" type="text/javascript"></script>
        <script src="./javascript/config.js" type="text/javascript"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </section>
</body>

</html>